-if(@customer.id)
  -action = 'update'
-else
  -action = 'create'
=form_for(@customer, {url: {controller: 'customers', action: action}, class: 'form', html: {id: 'item-form'}}) do |f|

  =f.collection_select(:company_id, Company.all, :id,:name)

  =f.label :name
  =f.text_field :name, class: 'form-control'

  =f.label :email
  =f.text_field :email, class: 'form-control'

  =f.label :tel_no
  =f.text_field :tel_no, class: 'form-control'

  =f.label :password
  =f.password_field :password, class: 'form-control'

  =f.label :password_confirmation
  =f.password_field :password_confirmation, class: 'form-control'

  =f.submit :save