-if(@item.id)
  -action = 'update'
-else
  -action = 'create'
=form_for(@item, {url: {controller: 'items', action: action}, class: 'form', html: {id: 'item-form'}}) do |f|

  =f.collection_select(:category_id, Category.all, :id,:name)

  =f.label :name
  =f.text_field :name, class: 'form-control'

  =f.label :description
  =f.text_area :description, class: 'form-control'

  =f.label :price
  =f.text_field :price, class: 'form-control'

  =f.submit :save