%div{class: 'container-fluid', id: 'item-details'}
  -@categories.each do |c|
    %h4
      ="Category: #{c.name}"
    %br
    .media-list
      -@items.category_items(c.id).each do |i|
        %div{class: 'media media-stylish', id: "item#{i.id}"}
          %div{class: 'media-left col-md-3'}
            %h5
              ='$ ' + i.price.to_s + '0'
          %div{class: 'media-middle col-md-6'}
            %h5{class: 'media-heading'}
              =i.name
            %p
              =i.description
          %div{class: 'media-right col-md-offset-1 col-md-2'}
            %ul{class: 'list-inline'}
              %li
                =link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), {controller: 'items', action: 'edit', id: i.id}
                =link_to raw('<i class="glyphicon glyphicon-remove"></i>'), {controller: 'items', action: 'delete', id: i.id}
